/* --- Variables de Layout --- */
:root {
    --top-bar-height: 70px; /* Altura para header y top del sidebar */
    --sidebar-width-expanded: 280px;
    --sidebar-width-collapsed: 70px;
    /* Ya no se definen colores específicos aquí, se toman del tema */
    --main-content-padding-top: calc(var(--top-bar-height) + 30px); /* Espacio sobre el form */
    --main-content-padding-sides: 40px; /* Padding lateral del form */
}

/* --- Estilos Base --- */
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color); /* Fondo general de la página */
    transition: background-color 0.3s ease;
    overflow-x: hidden; /* Evitar scroll horizontal general */
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 700;
    color: var(--text-color-primary);
    font-style: normal;
    transition: color 0.3s ease; /* Añadir transición */
}

.subtitulo-ligero {
    margin: -15px 0 20px 0;
    font: italic 300 0.9em 'SF Pro Display';
    color: var(--text-color-secondary);
    transition: color 0.3s ease; /* Añadir transición */
}

/* Estilos Iconos Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
   vertical-align: middle;
   line-height: 1;
   font-size: 1.2em;
   display: inline-block;
   transition: color 0.3s ease; /* Añadir transición */
}