/* assets/css/base/_splash.css */

/* --- Estilos Base (Mantener estos si son necesarios) --- */
/* Estilos generales para h2 y elementos comunes */

h2 {
    margin: 0 0 20px 0;
    font-weight: 700;
    color: var(--text-color-primary);
    font-style: normal;
}

.subtitulo-ligero {
    margin: -15px 0 20px 0;
    font: italic 300 0.9em 'SF Pro Display'; /* Shorthand font */
    color: var(--text-color-secondary);
}

/* Estilos Iconos Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
   vertical-align: middle;
   line-height: 1;
   font-size: 1.2em;
   display: inline-block; /* Importante para alineación y tamaño */
}

